---
import "../../styles/global.css";
import MainLayout from "../../layouts/MainLayouts.astro";
import Button from "../../components/Buttons.astro";
import Kort from "../../components/Kort.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const data = await fetch("https://emsjqvuyxykavpzfimlr.supabase.co/rest/v1/clfprojektDatabase", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtc2pxdnV5eHlrYXZwemZpbWxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDQxNzcsImV4cCI6MjAyNjA4MDE3N30.zqi9zqOjYp3Us-cdJMfDCExuxOrcsg6VUG2HrMwBX_E",
    },
  }).then((response) => response.json());

  return data.map((vaerk) => {
    return {
      params: { slug: vaerk.slug },
      props: { myData: vaerk },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<MainLayout title={myData.displayname}>
  <div class="extrapadding">
    <div class="grid1-1">
      <div class="col1">
        <div class="alignright">
          <h1 class="display2">{myData.installationid}. {myData.displayname}</h1><h3>{myData.neighborhood}, {myData.location}</h3>
        </div>
        <p class="bodytext-regular">{myData.text1}</p>
      </div>
      <div class="col2">
        <img src={myData.image} alt={myData.displayname} />
      </div>
    </div>
    <div class="grid1-1">
      <div class="col1">
        <Kort />
        <Button variant="primary" state="" animation="">Se forslåede ruter</Button>
      </div>
      <div class="col2">
        <div class="faktabox bodytext-bold">
          <p class="highlight">Hvem:</p><p>{myData.artist}</p><br />
          <p class="highlight">Hvor:</p><p>{myData.location}</p><br />
          <p class="highlight">Hvornår:</p><p>2. februar - 25. februar</p><br />
          <p>Tak til: {myData.sponsor}</p>
          <p>Med hjælp fra: {myData.credits}</p>
        </div>
        <p class="bodytext-regular">{myData.text2}</p>
      </div>
    </div>

    <div class="grid1-1">
      <div class="col1">
        <p class="bodytext-regular">{myData.text3}</p>
        <p class="bodytext-regular">{myData.text4}</p>
      </div>
      <div class="col2"></div>
      <div class="grid1-1">
        <div class="col1">
          <span class="bodytext-bold">Læs mere eller følg kunstneren!</span>
        </div>
        <div class="col2">
          <span>{myData.social1}</span><br />
          <span>{myData.social2}</span><br />
        </div>
      </div>
    </div>
  </div>

  <style>
    @media (min-width: 900px) {
      .grid1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
      .extrapadding {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
    img {
      width: 100%;
    }
    .alignright {
      text-align: right;
    }
    .faktabox {
      background-color: var(--background-color-50);
      padding: 2rem;
      color: var(--text-color);
    }

    .highlight {
      color: var(--primary-accent);
    }
    p {
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
    }
  </style>
</MainLayout>
